---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Ankit's Page.">
	<main>
		<h1>Hello Ankit</h1>
		<h2>Ab kaa karaljai</h2>
	</main>
</Layout>

